.player {
  max-width: 750px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.viewer {
  width: 100%;
}

.progress {
  flex: 1;
  height: 5px;
  background: #f0f0f0;
  margin-bottom: 10px;
  position: relative;
}

.progress__filled {
  background: #bada55;
  height: 100%;
  width: 0;
  transition: width 0.1s;
}

.player__button {
  border: none;
  background: transparent;
  color: white;
  font-size: 20px;
  cursor: pointer;
  outline: none;
}

.player__slider {
  width: 60px;
}

.player__controls {
  display: flex;
  align-items: center;
}